# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build and Deploy to Production

on:
  pull_request:
    types: [closed]
    branches:
      - feature
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Setup PostgreSQL
        uses: Harmon758/postgresql-action@v1.0.0
        with:
          postgresql db: postgres
          postgresql user: postgres
          postgresql password: postgres

      - name: Grant execute permission for gradlew # 권한 추가
        run: chmod +x ./gradlew
        shell: bash

      - name: cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build with Gradle # gradle로 빌드
        run: ./gradlew clean build -Dspring.profiles.active=ci  -Pjasypt.encryptor.password=${{ secrets.JASYPT_PASSWORD }} --info
        shell: bash

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: 005d9eb7-kr1-registry.container.cloud.toast.com/pickabook-server-prod
          username: ${{ secrets.NHN_USER_KEY }}
          password: ${{ secrets.NHN_SECRET_KEY }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: 005d9eb7-kr1-registry.container.cloud.toast.com/pickabook-server-prod/my-container-test:latest

      - name: Get Current Time
        uses: 1466587594/get-current-time@v2
        id: current-time
        with:
          format: YYYY-MM-DDTHH-mm-ss
          utcOffset: "+09:00"

      - name: Show Current Time
        run: echo "CurrentTime=${{steps.current-time.outputs.formattedTime}}"
        shell: bash